<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Bottomless Pit</title>
  </head>
  <body>
    <% include ./userButtons.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
          <a class="text-center display-4 my-4 nav-link" href="/"
            >Bottomless Pit</a
          >
          <p class="text-center">Add the best picture you can find!</p>

          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="custom-file mb-3">
              <input
                type="file"
                name="file"
                id="file"
                class="custom-file-input"
              />
              <label for="file" class="custom-file-label"
                >Choose Wisely...</label
              >
            </div>
            <input
              type="submit"
              value="Submit"
              class="btn btn-primary btn-block"
            />
          </form>
          <p class="text-center">
            Files must be .jpg or .png format, otherwise they will not be
            displayed.
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
